In [8]:
import numpy as np
import pandas as pd
data=pd.Series([1,25,67,89,34])
print(data.values)
print(data.index)
print(data[1])
print(data[1:3])

#series with custom index
data=pd.Series([12,3,45,65,78,43,23],
               index=['a','b','c','d','e','f','g'])
print(data['b'])
print(data[0])

[ 1 25 67 89 34]
RangeIndex(start=0, stop=5, step=1)
25
1    25
2    67
dtype: int64
3
12

C:\Users\preethi\AppData\Local\Temp\ipykernel_21720\573995777.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(data[0])

In [9]:
import numpy as np
import pandas as pd
#--pandas series object--
data=pd.Series([0.25,0.5,0.75,1.0])
print(data.values,data.index,data[1],data[1:3])
#----Series---- with custom index
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
data['b']
#-----Series---- with non contiguos index
data=pd.Series([0.25,0.5,0.75,1.0],index=[2,3,5,1])
print(data)
print(data[1])
print(data.loc[5])
print(data.iloc[0])
#print(data['b':'d'])    error  cannot do slice indexing on Index with these indexers [b] of type str
#print(data[0])  error  works but working msg there is no index
#Series form dictionary
dict={'a':10,'b':20,'c':30,'d':40,'e':50}
print(dict)
print('a')

[0.25 0.5  0.75 1.  ] RangeIndex(start=0, stop=4, step=1) 0.5 1    0.50
2    0.75
dtype: float64
2    0.25
3    0.50
5    0.75
1    1.00
dtype: float64
1.0
0.75
0.25
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
a

In [11]:
population_dict={'NewYork':89314,
            'California':76514,
            'LosAngeles':24913,
            'Florida':21890,
            'Texas':49068}
#use prints
population_dict
population=pd.Series(population_dict)
population['California']
population['California':'Florida']

California    76514
LosAngeles    24913
Florida       21890
dtype: int64

In [12]:
pd.Series([2,4,6])
pd.Series(5,index=[100,200,300])
pd.Series({2:'a',1:'b',3:'c'})
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

In [1]:
import numpy as np
import pandas as pd
#nan in numpy arrays
vals2=np.array([1,np.nan,3,4])
vals2.dtype
#arithmatic with nan
1+np.nan
0+np.nan
#aggregation with nan
vals2.sum(), vals2.min(), vals2.max()
#nan and none in pandas
pd.Series([1,np.nan,2,None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [3]:
import numpy as np
import pandas as pd
data=pd.Series([1,np.nan,'hello',None])
print(data)
print(data.isnull())
print(data.notnull())
data[data.isnull()]
data[data.notnull()]
df=pd.DataFrame([[1,np.nan,2],
                [3,4,np.nan],
                [5,6,7]])
print(df)
print(df.dropna())
print(df.dropna(axis=1))#dropping the columns which consist of nan values
print(df.dropna(axis=1,how="all"))

0        1
1      NaN
2    hello
3     None
dtype: object
0    False
1     True
2    False
3     True
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool
   0    1    2
0  1  NaN  2.0
1  3  4.0  NaN
2  5  6.0  7.0
   0    1    2
2  5  6.0  7.0
   0
0  1
1  3
2  5
   0    1    2
0  1  NaN  2.0
1  3  4.0  NaN
2  5  6.0  7.0